<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments :: materialize-css"/>
    <title>Champions estimations list</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<header>
    <nav class="nav-extended">
        <div class="container">
            <div class="nav-wrapper"><a class="brand-logo">Estimation Part Edit</a></div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <form method="post"
              th:action="@{/task/{taskId}/performer/{performerId}/estimation/{estimationId}/submit(taskId=${taskId}, performerId=${performerId}, estimationId=${estimationId}?:'none')}">
            <div class="section">
                <div class="input-field">
                    <input id="name" name="partName" th:value="${partName}" type="text"/><br/>
                    <label for="name">Part Name</label>
                </div>
                <div class="input-field">
                    <input id="best" name="best" th:value="${best}" type="text"/><br/>
                    <label for="best">Best</label>
                </div>
                <div class="input-field">
                    <input id="worst" name="worst" th:value="${worst}" type="text"/><br/>
                    <label for="worst">Worst</label>
                </div>
                <div class="input-field">
                    <input id="most" name="most" th:value="${most}" type="text"/><br/>
                    <label for="most">Most Likely</label>
                </div>
                <div>
                    <label>
                        <input id="champion" name="champion" th:checked="${champion}?:false" type="checkbox"/>
                        <span>Is Champion</span>
                    </label>
                </div>
            </div>

            <div class="section">
                <button class="btn waves-effect waves-light" name="submit" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</main>
<div th:replace="fragments :: materialize-scripts"></div>
</body>
</html>