<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments :: materialize-css"/>
    <title>Champions estimations list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{/task/{taskId}/performer/{performerId}/submit(taskId=${taskId}, performerId=${performerId}?:'none')}"
      method="post">
    Name:<br/>
    <input type="text" name="name" th:value="${name}"/><br/>
    <button type="submit" name="submit">Submit</button>
</form>
<!--Import jQuery before materialize.js-->
<div th:replace="fragments :: materialize-scripts"></div>
</body>
</html>