<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments :: materialize-css"/>
    <title>Champions estimations list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
    <nav class="nav-extended">
        <div class="container">
            <div class="nav-wrapper"><a class="brand-logo">Tasks</a></div>
        </div>
    </nav>
</header>
<main>
    <div class="container section">
        <table class="striped z-depth-1">
            <tr>
                <th>Task Name</th>
                <th>Estimation</th>
                <th colspan="2"></th>
            </tr>
            <tr th:each="task : ${tasks}" th:object="${task}">
                <td>
                    <a th:href="@{/task/{taskId}(taskId=*{id})}" th:text="*{name}"></a>
                </td>
                <td th:text="*{estimation}"></td>
                <td class="right-align">
                    <a th:href="@{/task/{taskId}/edit(taskId=*{id})}">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a th:href="@{/task/{id}/remove(id=*{id})}">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="/task/none/edit">
            <i class="large material-icons">add</i>
        </a>
    </div>
</main>
<!--Import jQuery before materialize.js-->
<div th:replace="fragments :: materialize-scripts"></div>
</body>
</html>